{% extends 'base.html.twig' %}

{% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}

{% block body %}
<div class="row">
	<div class="col-md-5 col-md-offset-1 grossimage">
		<img src="{{ asset('img/montagne.jpg') }}"/>
	</div>
	<div class="col-md-4 col-md-offset-1"id="EmplacementDeMaCarte">
	</div>
</div>
	<div class="row">
		<div class="description col-md-5 col-md-offset-1">
			<p>Salut je suis une belle cathédrale tmtc sisi la famille lol on peut mettre une description enooooooooooooooooooooooorme ici mais j'ai juste la flemme de l'écrire allez salut</p>
			<form method="POST" action="{{ path('') }}">
				<input class="btn btn-default" type="submit" value="Valider">
			</form>
		</div>
		 <div class="col-md-4 col-md-offset-1"id="map-canvas">
		 </div>
	</div>

{% endblock %}