{% extends 'base.html.twig' %}

{% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}


{% block body %}

<div class="container-fluid montagne">

	<div class="row">

		<div class="row vide">
						<div class="col-md-12"></div>
					
		<div class="rando col-offset-md-2 col-md-4">	
			 <a href="">
		</div>

		<div class="velo  col-md-3">	
			<a href="">
		</div>
	</div>
</div>

</div>

{% endblock %}