{% extends 'base.html.twig' %}

{% block navbar %}{% include ('navbar/navbar.html.twig') %}{% endblock %}


{% block body %}

<div class="container-fluid montagne">

	<div class="row">

		<div class="row vide">
			<div class="col-md-12"></div>

			<div class="rando col-offset-md-2 col-md-4">
				<a href="#openModal">rando</a>

				<div id="openModal" class="modalmarche">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Modal Box</h2>
						<p>-10</p>
						<p>-20</p>
						<p>-30</p>
						<p>-40</p>
					</div>
				</div>
			</div>

			<div class="velo  col-md-3">
				<a href="#openModal1">photo velo</a>

				<div id="openModal1" class="modalvelo">
					<div>
						<a href="#close" title="Close" class="close">X</a>
						<h2>Modal Box</h2>
						<p>-30</p>
						<p>-40</p>
						<p>-50</p>
						<p>-60</p>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% endblock %}